Repository ProvableHQ/sdk, pull requests merged in 2025-04, with the labels that each got.

#1010 [Feature] Expose bit, byte, and fields serialization methods for plaintext, ciphertext, records, and addresses
  wasm/src/account/address.rs
  wasm/src/account/signature.rs
  wasm/src/algorithms/bhp/mod.rs
  wasm/src/algorithms/poseidon/mod.rs
  wasm/src/programs/data/ciphertext.rs
  wasm/src/programs/data/plaintext.rs
  wasm/src/record/record_ciphertext.rs
  wasm/src/record/record_plaintext.rs
  wasm/src/types/group.rs
  wasm/src/utilities/array.rs
  wasm/src/utilities/test/mod.rs
Labels: enhancement, rust, wasm

#1007 [Feature] Automatic fee calculation
  .gitignore
  docs/api_reference/sdk-src_program-manager.md
  docs/examples/01_transfer_public.md
  docs/examples/02_transfer_private.md
  docs/examples/03_deploy_program.md
  docs/examples/04_execute_program.md
  docs/guide/06_executing_programs.md
  docs/guide/07_deploying_programs.md
  sdk/src/network-client.ts
  sdk/src/program-manager.ts
  wasm/src/programs/macros.rs
  wasm/src/programs/manager/deploy.rs
  wasm/src/programs/manager/execute.rs
  wasm/src/programs/manager/join.rs
  wasm/src/programs/manager/mod.rs
  wasm/src/programs/manager/split.rs
  wasm/src/programs/manager/transfer.rs
  wasm/tests/offchain.rs
  website/src/tabs/develop/Deploy.jsx
  website/src/tabs/develop/ExecuteLegacy.jsx
  website/src/tabs/develop/Join.jsx
  website/src/tabs/develop/Transfer.jsx
  website/src/tabs/develop/execute/index.jsx
  website/src/workers/worker.js
Labels: enhancement, rust, javascript, wasm

#853 Add imports support to verifyFunctionExecution.
  wasm/src/programs/execution.rs
Labels: bug, enhancement, rust, wasm
